.coach-profile {
  display: flex;
  flex-direction: column;
  padding: 35px 5%;
  gap: 36px;
  max-width: 1440px;
  width: 100%;
  &__title {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
  }

  &__card {
    @apply shadow-lg;

    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    background: rgba(	25,	26,	33, 0.5);
    padding: 30px 20px;
    height: max-content;
    min-width: 350px;

    &:hover{
      cursor: pointer;
    }
  }
}