.error-page {
  display: flex;
  margin-top: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Poppins, sans-serif;

  &__content {
    display: flex;
    width: 70%;
    flex-direction: column;

    &__heading {
      display: flex;
      align-items: center;
      gap: 24px;

      img {
        height: 36px;
      }
    }
  }
}